<main>
    <div class="cover h-96 py-20 bg-no-repeat bg-cover">

    </div>
    
    <section class="bg-gray-100 dark:bg-gray-900">
        <div class="flex sm:flex-row flex-col sm:justify-evenly items-center py-6 mx-10">
            <h2 class="text-black dark:text-white font text-xl sm:py-0 py-2">DML</h2>
            <div>
                <h2 class="text-black dark:text-white font text-xl text-center uppercase">design<span class="text-pink-600 dark:text-emerald-400">.</span>développement<span class="text-pink-600 dark:text-emerald-400">.</span><br>marketing & communication<span class="text-pink-600 dark:text-emerald-400">.</span><br>conseil<span class="text-pink-600 dark:text-emerald-400">.</span>technologie<span class="text-pink-600 dark:text-emerald-400">.</span><br>formation</h2>
            </div>
            <h2 class="text-black dark:text-white font text-xl sm:py-0 py-2">2022</h2>
        </div>
        <div class="grid grid-cols-1 py-8 w-3/4 mx-auto">
            <p class="font text-xl text-black dark:text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="flex flex-row py-10 justify-start">
            <img src="./assets/img/project-details/1.jpg" class="md:w-2/4 object-cover" alt="">
        </div>
        <div class="grid grid-cols-1 mx-auto py-10 w-1/2">
            <p class="text-red-500 dark:text-emerald-400 font-bold text-2xl"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </section>

    <section class="bg-gray-400 dark:bg-cyan-900">
        <div class="bg-[url('../../../assets/img/General/wave2.svg')] bg-cover w-100 h-64"> </div>
        <div class="grid md:grid-cols-2 grid-cols-1 md:mx-auto py-10">
            <p class="text-center font-bold text-black dark:text-white md:col-start-1 w-3/4 mx-auto sm:text-xl md:text-4xl">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <img src="./assets/img/project-details/dml_site_mockup.jpg" class="object-cover md:col-start-2 md:w-3/4 md:py-0 py-6" alt="">
            <img src="./assets/img/project-details/dml_cartedevisite_mockup.jpg" class=" object-cover md:col-start-2 pt-2 md:w-3/4" alt="">
        </div>
        <div class="wave1 w-100 h-64"> </div>
    </section>

    <section class="bg-gray-100 dark:bg-gray-900 md:py-10">
        <div class="flex md:flex-row flex-col justify-evenly items-start md:mx-32 md:py-20">
            <img src="./assets/img/project-details/dml_mug_mockup.jpg" class="object-cover md:w-2/4" alt="">
            <p class="text-start font text-black dark:text-white md:w-1/3 mx-auto md:text-3xl text-xl">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        </div>
        <div class="flex md:flex-row-reverse flex-col justify-evenly md:mx-32 md:py-20 py-4">
            <img src="./assets/img/project-details/dml_pin_mockup.jpg" class="object-cover md:w-2/4" alt="">
            <p class="text-start font text-black dark:text-white md:w-1/3 mx-auto md:text-3xl text-xl">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        </div>
    </section>

    <section class="bg-gray-400 dark:bg-cyan-900">
        <div class="grid grid-cols-2 md:mx-20 py-10">
            <h3 class="text-black dark:text-white font-bold text-2xl mx-auto">Projet suivant</h3>
            <i class="fa-solid fa-circle-arrow-up mx-auto " style="color: #6ee7b7; font-size: 34px;"></i>
            <h4 class="text-black dark:text-white font text-xl py-10 md:mx-auto mx-4">Listes</h4>
        </div>
    </section>

</main>
