<main>
    <div class="bg-gray-100 dark:bg-gray-900 py-10">
        
        <h1 class="text-black dark:text-white font-very-bold text-4xl py-20 md:mx-48 uppercase">Mentions légales</h1>
        
        <section>
            <div class="flex flex-col md:mx-48 justify-center sm:justify-start">
                <h2 class="text-red-500 dark:text-emerald-500 font-very-bold md:text-4xl text-2xl py-10 uppercase">Informations relatives à la société</h2>
                <div class="py-8 md:py-10">
                    <p class="text-black dark:text-white font-bold text-xl md:py-2">Raison sociale : SAS IDNET</p>
                    <p class="text-black dark:text-white font-bold text-xl md:py-2 ">Adresse : 41 Rue de Nancy, 88000 EPINAL</p>
                    <p class="text-black dark:text-white font-bold text-xl md:py-2 ">Téléphone : 01 86 65 98 28</p>
                    <p class="text-black dark:text-white font-bold text-xl md:py-2 ">Mail : contact@idnet.co</p>
                    <p class="text-black dark:text-white font-bold text-xl md:py-2 ">SIRET : 90999392500017</p>
                </div>
            </div>
        </section>
        
        <section>
        <div class="flex flex-col md:mx-48 justify-center sm:justify-start">
            <h2 class="text-red-500 dark:text-emerald-500 font-very-bold md:text-4xl text-2xl py-10 uppercase">Informations relatives à l'éditeur</h2>
            <div class="py-8 md:py-10">
                <p class="text-black dark:text-white font-bold text-xl md:py-2">Raison sociale : SAS IDNET</p>
                <p class="text-black dark:text-white font-bold text-xl md:py-2 ">Adresse : 41 Rue de Nancy, 88000 EPINAL</p>
                <p class="text-black dark:text-white font-bold text-xl md:py-2 ">Téléphone : 01 86 65 98 28</p>
                <p class="text-black dark:text-white font-bold text-xl md:py-2 ">Mail : contact@idnet.co</p>
                <p class="text-black dark:text-white font-bold text-xl md:py-2 ">SIRET : 90999392500017</p>
            </div>
        </div>
    </section>
        
        <section>
            <div class="flex flex-col md:mx-48 mx-auto justify-center sm:justify-start">
                <h2 class="text-red-500 dark:text-emerald-500 font-very-bold md:text-4xl text-2xl py-10 uppercase">Informations relatives à l'hébergeur</h2> 
                <div class="py-8 md:py-10">
                    <p class="text-black dark:text-white font-bold text-xl md:py-2">Raison sociale : IONOS SARL</p>
                    <p class="text-black dark:text-white font-bold text-xl md:py-2">Adresse : 7 place de la gare, 57200 SARREGUEMINES</p>
                    <p class="text-black dark:text-white font-bold text-xl md:py-2">Téléphone : 09 70 80 89 11</p>
                    <p class="text-black dark:text-white font-bold text-xl md:py-2">Mail : info@ionos.fr</p>
                    <p class="text-black dark:text-white font-bold text-xl md:py-2">SIRET : 43130377500016</p>
                    <p class="text-black dark:text-white font text-xl md:py-10">Le site est accessible par l'url www.idnet.co . Son utilisation est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront être modifiées à tout moment et sans préavis par la société SAS IDNET. SAS IDNET ne saurait être tenue pour responsable en aucune manière d'une mauvaise utilisation du service</p>
                </div>
            </div>
        </section>
        
        <section>
            <div class="flex flex-col md:mx-48 justify-center sm:justify-start">
                <h2 class="text-red-500 dark:text-emerald-500 font-very-bold md:text-4xl text-2xl py-10 uppercase">Limitations de la responsabilité</h2>
                <div class="py-8 md:py-10">
                    <p class="text-black dark:text-white font text-xl">Les informations contenues sur ce site sont aussi précises que possible et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une erreur ou ce qui peut être un dysfonctionnement, merci de bien vouloir le signaler par mail, en décrivant le problème de la manière la plus précise possible. Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, SAS IDNET ne saurait être tenue responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement. Les photos sont non contractuelles. Les liens hypertextes mis en place sur ce site internet , en direction d'autres sites internet, ne sauraient engager la responsabilité de SAS IDNET.</p>
                </div>
            </div>
        </section>
        
        <section>
        <div class="flex flex-col md:mx-48 justify-center sm:justify-start">
            <h2 class="text-red-500 dark:text-emerald-500 font-very-bold md:text-4xl text-2xl py-10 uppercase">Litiges</h2>
            <div class="py-8 md:py-10">
                <p class="text-black dark:text-white font text-xl">Les présentes conditions sont régies par les lois françaises et toute contestation ou litige qui pourrait naître de l'interprétation ou de l'exécution de celles-ci , seront de la compétence exclusive des tribunaux dont dépend le siège social de la société SAS IDNET. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>
            </div>
        </div>
        </section>
        
        <section>
        <div class="flex flex-col md:mx-48 justify-center sm:justify-start">
            <h2 class="text-red-500 dark:text-emerald-500 font-very-bold md:text-4xl text-2xl py-10 uppercase">Données personnelles</h2>
            <div class="py-8 md:py-10">
                <p class="text-black dark:text-white font text-xl">En application de la loi informatique et des libertés, les internautes disposent d'un droit d'accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de SAS IDNET. l, Place du Général de Gaulle, 88000 EPINAL ou par voie électronique à l'adresse mail suivante: contact@idnet.co .Les informations personnelles collectées sont confidentielles et ne sont en aucun cas transmises à des tiers, hormis pour l'éventuelle bonne exécution de la prestation commandée par l'internaute. En vertu de la loi n° 2000-719 du Ier août 2000, les coordonnées déclarées par l'acheteur pourront être communiquées, sur réquisition des autorités judiciaires.</p>
            </div>
        </div>
        </section>
        
        <section>
        <div class="flex flex-col md:mx-48 justify-center sm:justify-start">
            <h2 class="text-red-500 dark:text-emerald-500 font-very-bold md:text-4xl text-2xl py-10 uppercase">Propriété intellectuelle</h2>
            <div class="py-8 md:py-10">
                <p class="text-black dark:text-white font text-xl">Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes , ainsi que leur mise en forme, sont la propriété exclusive de la société SAS IDNET, à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite, sans l'accord express par écrit de SAS IDNET.</p>
            </div>
        </div>
        </section>
        
        <section>
        <div class="flex flex-col md:mx-48 justify-center sm:justify-start">
            <h2 class="text-red-500 dark:text-emerald-500 font-very-bold md:text-4xl text-2xl py-10 uppercase">Cookies</h2>
            <div class="py-8 md:py-10">
                <p class="text-black dark:text-white font text-xl">Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de fichiers textes stockés sur votre disque dur, afin d'enregistrer des données techniques sur votre navigation. Certaines parties de ce site ne peuvent être fonctionnelles, sans l'acceptation de cookies.Vous pouvez contrôler les cookies que nous stockons sur votre ordinateur, en cliquant ici.</p>
            </div>
        </div>
        </section>
        
        <section>
        <div class="flex flex-col md:mx-48 justify-center sm:justify-start">
            <h2 class="text-red-500 dark:text-emerald-500 font-very-bold md:text-4xl text-2xl py-10 uppercase">Contact</h2>
            <div class="py-8 md:py-10">
                <p class="text-black dark:text-white font text-xl">Pour toute demande de renseignements ou pour exercer votre droit d'accès, nous vous invitons à nous contacter à l'adresse mail suivante: contact@idnet.co.</p>
            </div>
        </div>
        </section>


    </div>


  </main>