<div class="lg:p-12 max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">

    <form class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md" #resetPasswordForm="ngForm" (ngSubmit)="!loading && resetPasswordForm.valid && submit(resetPasswordForm.value)">
  
      <h1 class="lg:text-2xl text-xl font-semibold mb-6">Réinitialiser le mot de passe</h1>
  
      <div>
        <p class="text-sm mb-8">
          We just sent the OTP code to your email, please check it and enter below.
        <p>
      </div>
  
      <div class="wizard-animated-block">
  
        <div class="space-y-3 wizard-animated-content" [class.second-step]="success">
  
          <div>
            <label class="mb-0" for="password">Password</label>
            <div class="relative">
              <input class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full" [type]="passwordShow ? 'text' : 'password'" id="password" placeholder="{{ 'COMMON.PLACEHOLDERS.ENTERPASSWORD'| translate }}" name="password" #password="ngModel" [pattern]="passwordPattern" autocomplete="new-password" required ngModel>
              <span class="toggle-password text-lg" (click)="togglePasswordShow()">
                <i class="bi" [ngClass]="{ 'bi-eye': !passwordShow, 'bi-eye-slash': passwordShow }"></i>
              </span>
            </div>
            <div class="invalid-tooltip mt-1" *ngIf="resetPasswordForm.submitted && !password.valid && password.errors['required']">{{ 'COMMON.PLSPASSWORD' | translate }}</div>
            <div class="invalid-tooltip mt-1" *ngIf="resetPasswordForm.submitted && !password.valid && password.errors['pattern']">{{ 'COMMON.PLSPASSWORD' | translate }}</div>
          </div>
  
          <div>
            <label class="mb-0" for="password-confirm">Confirm Password</label>
            <div class="relative">
              <input class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full" [type]="passwordConfirmShow ? 'text' : 'password'" id="password-confirm" placeholder="{{ 'COMMON.PLACEHOLDERS.ENTERPASSWORD'| translate }}" name="password_confirm" #password_confirm="ngModel" [pattern]="passwordPattern" autocomplete="new-password" required ngModel>
              <span class="toggle-password text-lg" (click)="togglePasswordConfirmShow()">
                <i class="bi" [ngClass]="{ 'bi-eye': !passwordConfirmShow, 'bi-eye-slash': passwordConfirmShow }"></i>
              </span>
            </div>
            <div class="invalid-tooltip mt-1" *ngIf="resetPasswordForm.submitted && !password_confirm.valid && password_confirm.errors['required']">{{ 'COMMON.PLSPASSWORD' | translate }}</div>
            <div class="invalid-tooltip mt-1" *ngIf="resetPasswordForm.submitted && !password_confirm.valid && password_confirm.errors['pattern']">{{ 'COMMON.PLSPASSWORD' | translate }}</div>
          </div>
  
          <div class="bg-alert-msg border p-4 relative rounded-md" uk-alert *ngIf="errors.includes(5)">
            <i class="bi bi-exclamation-triangle text-white text-opacity-75"></i>
            <p class="text-white text-opacity-75">New Password same as Current</p>
          </div>
          <div class="bg-danger-msg border p-4 relative rounded-md" uk-alert *ngIf="errors.includes(6)">
            <i class="bi bi-exclamation-triangle text-white text-opacity-75"></i>
            <p class="text-white text-opacity-75">New Password and confirm not the same</p>
          </div>
  
          <div>
            <button class="bg-purple-500 text-white font-bold p-3 mt-3 rounded-md text-center w-full" type="submit" [class.disabled]="resetPasswordForm.submitted && !resetPasswordForm.valid" [class.loading]="loading">{{ 'COMMON.SIGNIN'| translate }}</button>
          </div>
  
        </div>
  
        <div class="space-y-3 wizard-animated-content" *ngIf="success">
  
          <div class="bg-success-msg border p-4 relative rounded-md mt-0" uk-alert>
            <i class="bi bi-check-lg text-white text-opacity-75"></i>
            <p class="text-white text-opacity-75">Success</p>
          </div>
  
        </div>
  
      </div>
  
    </form>
  
  </div>