@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: MADE_Tommy;
    src: url('../font/MADE_TOMMY_Black.ttf');
    font-weight: 500;
  }


@font-face {
    font-family: MADE_Tommy;
    src: url('../font/MADE_TOMMY_Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: MADE_Tommy;
    src: url('../font/MADE_TOMMY_ExtraBold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: MADE_Tommy;
    src: url('../font/MADE_TOMMY_Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: MADE_Tommy;
    src: url('../font/MADE_TOMMY_Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: MADE_Tommy;
    src: url('../font/MADE_TOMMY_Regular.ttf');
    font-weight: 500;
} 

.font{
    font-family: 'MADE Tommy', sans-serif;
    
}
.font-very-bold{
    font-family: 'MADE Tommy', sans-serif;
    font-weight: 900;    
}

.font-bold{
    font-family: 'MADE Tommy', sans-serif;
    font-weight: 700;
}

.font-light{
  font-family: 'MADE Tommy', sans-serif;
  font-weight: 300;
}