@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: MADE Tommy;
    src: url('../font/MADE\ TOMMY\ Black.ttf');
    font-weight: 500;
  }

@font-face {
    font-family: MADE Tommy;
    src: url('../font/MADE\ TOMMY\ Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: MADE Tommy;
    src: url('../font/MADE\ TOMMY\ ExtraBold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: MADE Tommy;
    src: url('../font/MADE\ TOMMY\ Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: MADE Tommy;
    src: url('../font/MADE\ TOMMY\ Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: MADE Tommy;
    src: url('../font/MADE\ TOMMY\ Regular.ttf');
    font-weight: 500;
}

.font{
    font-family: 'MADE Tommy', sans-serif;
    
}
.font-very-bold{
    font-family: 'MADE Tommy', sans-serif;
    font-weight: 900;    
}

.font-bold{
    font-family: 'MADE Tommy', sans-serif;
    font-weight: 700;
}

.font-light{
  font-family: 'MADE Tommy', sans-serif;
  font-weight: 300;
}