<main>

    <div class="bg-[url('./assets/img/Stories-detail/cover.jpg')] h-96 py-10 bg-no-repeat bg-cover">

    </div>
    
    <div class="bg-gray-100 dark:bg-gray-900">
        <div class="flex flex-col items-start py-6 w-3/4 mx-auto">
            <p class=" text-pink-400 dark:text-emerald-500 text-2xl font py-10">3 février 2023 ---- IDNET news</p>
            <h1 class="text-black dark:text-white sm:text-5xl text-2xl font-very-bold">Calendrier des marronniers 2023 pour les <br> Community manager: les dates à retenir</h1>
            <p class=" text-black dark:text-white text-opacity-60 text-2xl font-bold pt-6">Restez organisé est à jour avec les tendances en 2023 grâce à notre calendrier <br> des marronniers pour les Community Manager.</p>
        </div>
        <div class="grid grid-cols-1 py-8 w-3/4 mx-auto">
            <h2 class="text-black dark:text-white text-3xl font-bold py-2">Ceci est un sous titre</h2>
            <p class="mx-auto text-black dark:text-white text-xl font">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="grid grid-cols-1 py-4 w-3/4 mx-auto">
            <h2 class="text-black dark:text-white text-3xl font-bold py-2">Ceci est un sous titre</h2>
            <p class="mx-auto text-black dark:text-white text-xl font">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. dnzlndlbkzbk dzk dz zjodnzlbda âd z^j dj a^aji dzbdizbaiudzibad kjbadbzadi^zabd^za kpjazbdkz h fepz fe fz kjjbqkjfiepvfiv</p>
        </div>
        <div class="grid grid-cols-1 py-4 w-3/4 mx-auto">
            <h2 class="text-black dark:text-white text-3xl font-bold py-2">Ceci est un sous titre</h2>
            <p class="mx-auto text-black dark:text-white text-xl font">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. dnzlndlbkzbk dzk dz zjodnzlbda âd z^j dj a^aji dzbdizbaiudzibad kjbadbzadi^zabd^za kpjazbdkz h fepz fe fz kjjbqkjfiepvfiv</p>
        </div>
    </div>

</main>