<main>
    
    <div class="bg-gray-100 dark:bg-gray-900  h-full w-full py-10">
        <div class=" md:flex flex-row sm:justify-around justify-center py-8">
            <h1 class="text-black dark:text-white font-very-bold text-5xl py-10 uppercase">Nos Services</h1>
            <div class="flex flex-col py-8 md:py-60 mx-8">
                <p class="text-black dark:text-white font-very-bold text-xl">Un projet web ressemble souvent à un gâteau. Un très gros gâteau dont <br> vous devez dessiner l’ébauche avant de pouvoir le réaliser. <br> Nous, chevaliers du web, du graphisme ajusté et de la communication <br>inspirée, sommes vos marmitons !</p>
                <p class="text-red-500 dark:text-emerald-800 font-bold text-xl pt-4">A vos côtés de A à Z, nous concevons une recette sur-mesure afin de <br> mitonner le plus sublime des concepts et de le réaliser</p>
            </div>
        </div>
        
        <hr class=" h-px w-3/4 mx-auto border-0 bg-black dark:bg-emerald-800">
        
        <section class="md:grid grid-cols-2 py-8">
            <div class="flex flex-row mx-auto justify-center sm:justify-start">
                <h2 class="text-black dark:text-white font-very-bold md:text-4xl text-2xl py-10 mx-8 uppercase">Design</h2>
                <div class="flex flex-row pt-6">
                    <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.721211 23.6107L19.2371 11.5574L8.39012 8.2804C7.64146 8.05422 7.19617 7.18461 7.39677 6.3405L8.61862 1.19908C8.81922 0.354962 9.59049 -0.14711 10.3391 0.079069L33.2636 6.99974C34.0123 7.22592 34.4575 8.09553 34.2569 8.93965L28.1135 34.7906C27.9129 35.6347 27.1417 36.1368 26.393 35.9106L21.833 34.533C21.0843 34.3068 20.6391 33.4372 20.8397 32.5931L23.9604 19.4614L4.93749 31.8446C4.2633 32.2835 3.40405 32.0239 3.01481 31.2638L0.202916 25.7724C-0.183213 25.0184 0.0470229 24.0495 0.721211 23.6107Z" fill="#1D1D1D"/>
                    </svg>
                </div>
            </div> 
            <div class="py-8 md:py-40">
                <p class="text-red-500 dark:text-emerald-400 font-bold text-xl mx-4 md:mx-0 sm:w-2/3">Nous prenons en charge votre image, votre notoriété, pour porter haut vos couleurs,  en vous démarquant avantageusement </p>
                <p class="text-black dark:text-white font text-sm text-opacity-40 pt-4 mx-4 md:mx-0 sm:w-2/3">En alliant créativité et performance, notre équipe compose vos réalisations  graphiques, artistiques et de communication </p>
                <img src="https://placehold.co/600x400" class=" md:w-2/3 object-cover pt-4" alt="">
                <div class=" md:grid grid-cols-4">
                    <div class="flex-flex col">
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0"> Logo & image de marque <br>(Branding)</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0"> Design de site web</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0"> Design d'application<br>mobile</p>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Graphisme & Impression</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Production Vidéo</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class=" h-px w-3/4 mx-auto border-0 bg-black dark:bg-emerald-800">
        
        <section class="md:grid grid-cols-2 py-8">
            <div class="flex flex-row mx-auto justify-center sm:justify-start">
                <h2 class="text-black dark:text-white font-very-bold md:text-4xl text-2xl py-10 md:mx-8 uppercase">Développement</h2>
                <div class="flex flex-row pt-6">
                    <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.721211 23.6107L19.2371 11.5574L8.39012 8.2804C7.64146 8.05422 7.19617 7.18461 7.39677 6.3405L8.61862 1.19908C8.81922 0.354962 9.59049 -0.14711 10.3391 0.079069L33.2636 6.99974C34.0123 7.22592 34.4575 8.09553 34.2569 8.93965L28.1135 34.7906C27.9129 35.6347 27.1417 36.1368 26.393 35.9106L21.833 34.533C21.0843 34.3068 20.6391 33.4372 20.8397 32.5931L23.9604 19.4614L4.93749 31.8446C4.2633 32.2835 3.40405 32.0239 3.01481 31.2638L0.202916 25.7724C-0.183213 25.0184 0.0470229 24.0495 0.721211 23.6107Z" fill="#1D1D1D"/>
                    </svg>
                </div>
            </div> 
            <div class="py-8 md:py-40">
                <p class="text-red-500 dark:text-emerald-400 font-bold text-xl mx-4 md:mx-0 sm:w-2/3">Nous concevons le site web ou l'application mobile, le plus à  même de mettre en valeur votre marque ou votre projet.</p>
                <p class="text-black dark:text-white font text-sm text-opacity-40 pt-4 mx-4 md:mx-0 sm:w-2/3">Que vous ayez besoin d'un site vitrine, e-commerce, d'une application mobile ou d'un projet plus complexe, notre équipe se charge du développement complet de votre projet avec les technologies modernes les plus adaptées à vos besoins. </p>
                <img src="https://placehold.co/600x400" class="md:w-2/3 object-cover pt-4" alt="">
                <div class="md:grid grid-cols-4">
                    <div class="flex-flex col">
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0"> Site web vitrine</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0"> Site web Ecommerce</p>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Développement d'application<br>mobile</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Développement sur mesure</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class=" h-px w-3/4 mx-auto border-0 bg-black dark:bg-emerald-800">
        
        <section class="md:grid grid-cols-2 py-8">
            <div class="flex flex-row mx-auto justify-center sm:justify-start">
                <h2 class="text-black dark:text-white font-very-bold md:text-4xl text-xl py-10 mx-8 uppercase">Marketing & <br> communication</h2>
                <div class="flex flex-row pt-6">
                    <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.721211 23.6107L19.2371 11.5574L8.39012 8.2804C7.64146 8.05422 7.19617 7.18461 7.39677 6.3405L8.61862 1.19908C8.81922 0.354962 9.59049 -0.14711 10.3391 0.079069L33.2636 6.99974C34.0123 7.22592 34.4575 8.09553 34.2569 8.93965L28.1135 34.7906C27.9129 35.6347 27.1417 36.1368 26.393 35.9106L21.833 34.533C21.0843 34.3068 20.6391 33.4372 20.8397 32.5931L23.9604 19.4614L4.93749 31.8446C4.2633 32.2835 3.40405 32.0239 3.01481 31.2638L0.202916 25.7724C-0.183213 25.0184 0.0470229 24.0495 0.721211 23.6107Z" fill="#1D1D1D"/>
                    </svg>
                </div>
            </div> 
            <div class="py-8 md:py-40">
                <p class="text-red-500 dark:text-emerald-400 font-bold text-xl mx-4 md:mx-0 sm:w-2/3">Nous créons avec vous une feuille de route qui vous permettra de réaliser les bonnes actions marketing au bon moment.</p>
                <p class="text-black dark:text-white font text-sm text-opacity-40 pt-4 mx-4 md:mx-0 sm:w-2/3">Votre communication sera ensuite ajustée à vos objectifs et corrigée au fur et à mesure de la vie de votre projet.</p>
                <img src="https://placehold.co/600x400" class="md:w-2/3 object-cover pt-4" alt="">
                <div class="md:grid grid-cols-4">
                    <div class="flex-flex col">
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Référencement naturel<br>gratuit (SEO)</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Référencement payant<br>(SEA)</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Email marketing</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Campagne de publicité<br>(Web & traditionnelle)</p>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Community management<br>(SMO)</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Street Marketing</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Rédaction de contenu</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class=" h-px w-3/4 mx-auto border-0 bg-black dark:bg-emerald-800">

        <section class="md:grid grid-cols-2 py-8">
            <div class="flex flex-row mx-auto justify-center sm:justify-start">
                <h2 class="text-black dark:text-white font-very-bold md:text-4xl text-xl py-10 mx-8 uppercase">Conseil</h2>
                <div class="flex flex-row pt-6">
                    <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.721211 23.6107L19.2371 11.5574L8.39012 8.2804C7.64146 8.05422 7.19617 7.18461 7.39677 6.3405L8.61862 1.19908C8.81922 0.354962 9.59049 -0.14711 10.3391 0.079069L33.2636 6.99974C34.0123 7.22592 34.4575 8.09553 34.2569 8.93965L28.1135 34.7906C27.9129 35.6347 27.1417 36.1368 26.393 35.9106L21.833 34.533C21.0843 34.3068 20.6391 33.4372 20.8397 32.5931L23.9604 19.4614L4.93749 31.8446C4.2633 32.2835 3.40405 32.0239 3.01481 31.2638L0.202916 25.7724C-0.183213 25.0184 0.0470229 24.0495 0.721211 23.6107Z" fill="#1D1D1D"/>
                    </svg>
                </div>
            </div> 
            <div class="py-8 md:py-40">
                <p class="text-red-500 dark:text-emerald-400 font-bold text-xl mx-4 md:mx-0 sm:w-2/3">Créer une entreprise, la développer et la transformer exige un subtile équilibre entre vision, stratégie et activités opérationnelles.</p>
                <p class="text-black dark:text-white font text-sm text-opacity-40 pt-4 mx-4 md:mx-0 sm:w-2/3">Il s'agit de mettre au jour les actions clés qui vous permettront de maximiser votre valeur à chaque étape de vie de votre entreprise.A l'image d'un chef d'orchestre, nous vous  accompagnons dans votre prochaine ouverture de boutique, la gestion globale de votre projet ou la mise en place d'une stratégie commerciale performante / efficace.</p>
                <img src="https://placehold.co/600x400" class="md:w-2/3 object-cover pt-4" alt="">
                <div class="md:grid grid-cols-4">
                    <div class="flex-flex col">
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Stratégie digitale</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Business Consulting</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Pop-up store</p>
                    </div>
                    <div class="flex flex-col">
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Gestion & Organisation de<br>salon</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Gestion de projet</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Stratégie commerciale</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class=" h-px w-3/4 mx-auto border-0 bg-black dark:bg-emerald-800">

        <section class="md:grid grid-cols-2 py-8">
            <div class="flex flex-row mx-auto justify-center sm:justify-start">
                <h2 class="text-black dark:text-white font-very-bold md:text-4xl text-xl py-10 mx-8 uppercase">Technologie</h2>
                <div class="flex flex-row pt-6">
                    <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.721211 23.6107L19.2371 11.5574L8.39012 8.2804C7.64146 8.05422 7.19617 7.18461 7.39677 6.3405L8.61862 1.19908C8.81922 0.354962 9.59049 -0.14711 10.3391 0.079069L33.2636 6.99974C34.0123 7.22592 34.4575 8.09553 34.2569 8.93965L28.1135 34.7906C27.9129 35.6347 27.1417 36.1368 26.393 35.9106L21.833 34.533C21.0843 34.3068 20.6391 33.4372 20.8397 32.5931L23.9604 19.4614L4.93749 31.8446C4.2633 32.2835 3.40405 32.0239 3.01481 31.2638L0.202916 25.7724C-0.183213 25.0184 0.0470229 24.0495 0.721211 23.6107Z" fill="#1D1D1D"/>
                    </svg>
                </div>
            </div> 
            <div class="py-8 md:py-40">
                <p class="text-red-500 dark:text-emerald-400 font-bold text-xl mx-4 md:mx-0 sm:w-2/3">Afin de mieux vous soutenir dans vos différents développements et de vous garantir une sécurité optimale pour vos projets web, nous vous proposons un éventail de solutions propriétaires, clés en main.</p>
                <p class="text-black dark:text-white font text-sm text-opacity-40 pt-4 mx-4 md:mx-0 sm:w-2/3">Vous pourrez ainsi suivre l'ensemble des étapes en offrant à vos propres clients fluidité, vitesse et données sécurisées.</p>
                <img src="https://placehold.co/600x400" class="md:w-2/3 object-cover pt-4" alt="">
                <div class="md:grid grid-cols-4">
                    <div class="flex-flex col">
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Hébergement Web & Cloud</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">Data analytics</p>
                        <p class="text-black dark:text-white text-opacity-40 pt-3 font mx-4 md:mx-0">CRM</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class=" h-px w-3/4 mx-auto border-0 bg-black dark:bg-emerald-800">

        <section class="md:grid grid-cols-2 py-8">
            <div class="flex flex-row mx-auto justify-center sm:justify-start">
                <h2 class="text-black dark:text-white font-very-bold md:text-4xl text-xl py-10 mx-8 uppercase">Formation</h2>
                <div class="flex flex-row pt-6">
                    <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.721211 23.6107L19.2371 11.5574L8.39012 8.2804C7.64146 8.05422 7.19617 7.18461 7.39677 6.3405L8.61862 1.19908C8.81922 0.354962 9.59049 -0.14711 10.3391 0.079069L33.2636 6.99974C34.0123 7.22592 34.4575 8.09553 34.2569 8.93965L28.1135 34.7906C27.9129 35.6347 27.1417 36.1368 26.393 35.9106L21.833 34.533C21.0843 34.3068 20.6391 33.4372 20.8397 32.5931L23.9604 19.4614L4.93749 31.8446C4.2633 32.2835 3.40405 32.0239 3.01481 31.2638L0.202916 25.7724C-0.183213 25.0184 0.0470229 24.0495 0.721211 23.6107Z" fill="#1D1D1D"/>
                    </svg>
                </div>
            </div> 
            <div class="py-8 md:py-40">
                <p class="text-red-500 dark:text-emerald-400 font-bold text-xl mx-4 md:mx-0 sm:w-2/3">Évoluer, s'adapter et devancer les besoins de votre marché demande des compétences sans cesse renouvelées.</p>
                <p class="text-black dark:text-white font text-sm text-opacity-40 pt-4 mx-4 md:mx-0 sm:w-2/3">Que vous souhaitiez former vos équipes ou acquérir de nouvelles compétences, nous vous dispensons une large palette de formations pour vos besoins et votre niveau.Pour des formations plus avancées ou pour exploiter pleinement les outils que nous aurons créés pour vous, nous vous proposons un plan de formation sur mesure.</p>
                <img src="https://placehold.co/600x400" class="md:w-2/3 object-cover pt-4" alt="">
            </div>
        </section>

        <p class="font-bold text-black dark:text-white text-center">Telle une ode à notre créativité, subtile et efficace, ce joli bout de texte ne sert à rien. <br>Il se laisse pourtant lire et parcourir avant de simplement retourner à sa tendre  inutilité.</p>

    </div>

</main>