<main>
    <div class="bg-gray-100 dark:bg-gray-900 py-10">

        <div class="flex flex-col items-center md:items-start  md:mx-52 lg:mx-60 xl:mg-52 py-20 md:w-2/3">
            <h1 class="font-very-bold text-black dark:text-white text-4xl">Nos Stories</h1>
        </div>

        <section>
            <div class="grid grid-cols-2 max-w-7xl  mx-auto gap-6 place-items-start">
                <div class=" bg-gray-300 dark:bg-gray-500 border rounded-xl">
                    <figure>
                        <a href="./stories-detail.html">
                            <img class="rounded-t-lg" src="https://via.placeholder.com/700x400" alt="" />
                        </a>
                    </figure>
                    <div class="flex flex-row justify-between">
                        <h6 class="font text-sm lg:text-md text-red-500 mx-4">23 janvier,2023</h6>
                        <h6 class="font text-sm lg:text-md text-red-500 lg:mx-4">IDNET News</h6>
                    </div>
                    <div class="lg:p-5 p-10">
                        <a href="#">
                            <h5 class="mb-2 lg:text-xl text-sm font-bold  text-gray-900 dark:text-gray-500">En avance sur le temps : les 5 principales compétences dont chaque Community manager aura besoin en 2023.</h5>
                        </a>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Découvrez les 5 compétences clés pour être un community manager performant en 2023.</p>
                        <div class="flex flex-row justify-end">
                            <svg class="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class=" bg-gray-300 dark:bg-gray-500 border rounded-xl mt-16">
                    <figure>
                        <a href="./stories-detail.html">
                            <img class="rounded-t-lg" src="https://via.placeholder.com/700x400" alt="" />
                        </a>
                    </figure>
                    <div class="flex flex-row justify-between">
                        <h6 class="font text-sm lg:text-md text-red-500 mx-4">23 janvier,2023</h6>
                        <h6 class="font text-sm lg:text-md text-red-500 lg:mx-4">IDNET News</h6>
                    </div>
                    <div class="lg:p-5 p-10">
                        <a href="#">
                            <h5 class="mb-2 lg:text-xl text-sm font-bold  text-gray-900 dark:text-gray-500">En avance sur le temps : les 5 principales compétences dont chaque Community manager aura besoin en 2023.</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Découvrez les 5 compétences clés pour être un community manager performant en 2023.</p>
                        <div class="flex flex-row justify-end">
                            <svg class="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="grid grid-cols-2 max-w-7xl  mx-auto gap-6 place-items-start ">
                <div class="bg-gray-300 dark:bg-gray-500 border rounded-xl">
                    <figure>
                        <a href="./stories-detail.html">
                            <img class="rounded-t-lg" src="https://via.placeholder.com/700x400" alt="" />
                        </a>
                    </figure>
                    <div class="flex flex-row justify-between">
                        <h6 class="font text-sm lg:text-md text-red-500 mx-4">23 janvier,2023</h6>
                        <h6 class="font text-sm lg:text-md text-red-500 lg:mx-4">IDNET News</h6>
                    </div>
                    <div class="lg:p-5 p-10">
                        <a href="#">
                            <h5 class="mb-2 lg:text-xl text-sm font-bold  text-gray-900 dark:text-gray-500">En avance sur le temps : les 5 principales compétences dont chaque Community manager aura besoin en 2023.</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Découvrez les 5 compétences clés pour être un community manager performant en 2023.</p>
                        <div class="flex flex-row justify-end">
                            <svg class="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class=" bg-gray-300 dark:bg-gray-500 border rounded-xl mt-16">
                    <figure>
                        <a href="./stories-detail.html">
                            <img class="rounded-t-lg" src="https://via.placeholder.com/700x400" alt="" />
                        </a>
                    </figure>
                    <div class="flex flex-row justify-between">
                        <h6 class="font text-sm lg:text-md text-red-500 mx-4">23 janvier,2023</h6>
                        <h6 class="font text-sm lg:text-md text-red-500 lg:mx-4">IDNET News</h6>
                    </div>
                    <div class="lg:p-5 p-10">
                        <a href="#">
                            <h5 class="mb-2 lg:text-xl text-sm font-bold  text-gray-900 dark:text-gray-500">En avance sur le temps : les 5 principales compétences dont chaque Community manager aura besoin en 2023.</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Découvrez les 5 compétences clés pour être un community manager performant en 2023.</p>
                        <div class="flex flex-row justify-end">
                            <svg class="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="grid grid-cols-2 max-w-7xl mx-auto gap-6 place-items-start">
                <div class=" bg-gray-300 dark:bg-gray-500 border rounded-xl">
                    <figure>
                        <a href="./stories-detail.html">
                            <img class="rounded-t-lg" src="https://via.placeholder.com/700x400" alt="" />
                        </a>
                    </figure>
                    <div class="flex flex-row justify-between">
                        <h6 class="font text-sm lg:text-md text-red-500 mx-4">23 janvier,2023</h6>
                        <h6 class="font text-sm lg:text-md text-red-500 lg:mx-4">IDNET News</h6>
                    </div>
                    <div class="lg:p-5 p-10">
                        <a href="#">
                            <h5 class="mb-2 lg:text-xl text-sm font-bold  text-gray-900 dark:text-gray-500">En avance sur le temps : les 5 principales compétences dont chaque Community manager aura besoin en 2023.</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Découvrez les 5 compétences clés pour être un community manager performant en 2023.</p>
                        <div class="flex flex-row justify-end">
                            <svg class="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class=" bg-gray-300 dark:bg-gray-500 border rounded-xl mt-16 ">
                    <figure>
                        <a href="./stories-detail.html">
                            <img class="rounded-t-lg" src="https://via.placeholder.com/700x400" alt="" />
                        </a>
                    </figure>
                    <div class="flex flex-row justify-between">
                        <h6 class="font text-sm lg:text-md text-red-500 mx-4">23 janvier,2023</h6>
                        <h6 class="font text-sm lg:text-md text-red-500 lg:mx-4">IDNET News</h6>
                    </div>
                    <div class="lg:p-5 p-10">
                        <a href="#">
                            <h5 class="mb-2 lg:text-xl text-sm font-bold  text-gray-900 dark:text-gray-500">En avance sur le temps : les 5 principales compétences dont chaque Community manager aura besoin en 2023.</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Découvrez les 5 compétences clés pour être un community manager performant en 2023.</p>
                        <div class="flex flex-row justify-end">
                            <svg class="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>      
        </section>

    </div>
</main>