<main>

    <div class="bg-gray-100 dark:bg-gray-900 h-full w-full py-10">
        <div class="flex flex-col items-center md:items-start md:mx-52 lg:mx-60 py-20 md:w-2/3 sm:mx-6 mx-6">
            <h1 class="font-very-bold text-black dark:text-white text-4xl">L'agence qui vous connecte à vos clients (pour de vrai)</h1>
            <p class="font-bold text-black dark:text-white text-opacity-40 text-xl pt-10">Consultants, marketeurs passionnés et développeurs depuis de nombreuses  années, nous opérons dans l’ombre, au service de la performance de nos clients. Nous travaillons avec vous à la recherche de la substantifique moelle (C’est pompeux mais ça a du style) qui caractérisera votre projet. C’est avec elle que nous nous efforcerons de révéler l'identité de votre marque et de votre message.</p>
        </div>
    </div>

    <section class= "bg-gray-900 dark:bg-stone-50">

        <div class="bg-[url('../../../assets/img/general/wave2.svg')] bg-cover w-100 h-64"> </div>

        <div class="grid md:grid-cols-2 grid-cols-1 mx-auto md:mx-52 py-10">
            <h5 class="font text-red-500 dark:text-emerald-300 uppercase mx-auto md:mx-0 lg:mx-40 md:py-0 py-4">l'équipe</h5>
            <p class="font-bold text-gray-600 text-opacity-60 mx-6 md:mx-0 md:w-3/4">La genèse de notre agence, c'est l’association de 2 passionnés, inspirés par  leurs travaux respectifs et appréciant la finesse des projets régulièrement réalisés ensemble.Aujourd’hui, fort de son collectif, l’agence intègre chaque jour de nouvelles compétences afin de répondre au mieux aux besoins de leurs clients.Nous aimons les défis, les challenges et les projets web qui nous poussent à créer de nouveaux process, à innover et à réinventer notre expertise.</p>
        </div>
        <hr class=" h-px w-3/4 mx-auto border-0 bg-gray-500 dark:bg-black">
        <div class="grid md:grid-cols-2 grid-cols-1 md:mx-52 py-10">
            <h2 class="font-very-bold text-white dark:text-black uppercase mx-auto md:mx-0 lg:mx-40"> Gauthier Jeanjacquot</h2>
            <h3 class="font text-red-500 dark:text-emerald-300 md:mx-60 mx-auto ">Fondateur</h3>
        </div>
        <hr class=" h-px w-3/4 mx-auto border-0 bg-gray-500 dark:bg-black">
        <div class="grid md:grid-cols-2 grid-cols-1 md:mx-52 py-10">
            <h2 class="font-very-bold text-white dark:text-black uppercase mx-auto md:mx-0 lg:mx-40">Téo Piaget</h2>
            <h3 class="font text-red-500 dark:text-emerald-300 md:mx-60 mx-auto ">Fondateur</h3>
        </div>
        <hr class=" h-px w-3/4 mx-auto border-0 bg-gray-500 dark:bg-black">
        <div class="grid md:grid-cols-2 grid-cols-1 md:mx-52 py-10">
            <h2 class="font-very-bold text-white dark:text-black uppercase mx-auto md:mx-0 lg:mx-40">Kevin Laneele</h2>
            <h3 class="font text-red-500 dark:text-emerald-300 md:mx-60 mx-auto">Développeur</h3>
        </div>
        <hr class=" h-px w-3/4 mx-auto border-0 bg-gray-500 dark:bg-black">
        <div class="grid md:grid-cols-2 grid-cols-1 md:mx-52 py-10">
            <h2 class="font-very-bold text-white dark:text-black uppercase mx-auto md:mx-0 lg:mx-40">Antoine Stoecklin</h2>
            <h3 class="font text-red-500 dark:text-emerald-300 md:mx-60 mx-auto">Développeur</h3>
        </div>
        <hr class=" h-px w-3/4 mx-auto border-0 bg-gray-500 dark:bg-black">
        <div class="grid md:grid-cols-2 grid-cols-1 md:mx-52 py-10">
            <h2 class="font-very-bold text-white dark:text-black uppercase mx-auto md:mx-0 lg:mx-40">Raphaëld Held</h2>
            <h3 class="font text-red-500 dark:text-emerald-300 md:mx-60 mx-auto ">Rédacteur</h3>
        </div>
        <hr class=" h-px w-3/4 mx-auto border-0 bg-gray-500 dark:bg-black">
        <div class="grid md:grid-cols-2 grid-cols-1 md:mx-52 py-10">
            <h2 class="font-very-bold text-white dark:text-black uppercase mx-auto md:mx-0 lg:mx-40">Abril Rosales</h2>
            <h3 class="font text-red-500 dark:text-emerald-300 md:mx-60 mx-auto">Graphiste</h3>
        </div>
        <hr class=" h-px w-3/4 mx-auto border-0 bg-gray-500 dark:bg-black">
        <div class="grid md:grid-cols-2 grid-cols-1 md:mx-52 py-10">
            <h2 class="font-very-bold text-white dark:text-black uppercase mx-auto md:mx-0 lg:mx-40">éloise jacquel</h2>
            <h3 class="font text-red-500 dark:text-emerald-300 md:mx-60 mx-auto">Graphiste</h3>
        </div>
        <hr class=" h-px w-3/4 mx-auto border-0 bg-gray-500 dark:bg-black">
        <div class="grid md:grid-cols-2 grid-cols-1 md:mx-52 py-10">
            <h2 class="font-very-bold text-white dark:text-black uppercase mx-auto md:mx-0 lg:mx-40">Donia Ben Romdhane</h2>
            <h3 class="font text-red-500 dark:text-emerald-300 md:mx-60 mx-auto">Commerciale</h3>
        </div>
        <hr class=" h-px w-3/4 mx-auto border-0 bg-gray-500 dark:bg-black">
        <div class="grid md:grid-cols-2 grid-cols-1 md:mx-52 py-10">
            <h2 class="font-very-bold text-white dark:text-black uppercase mx-auto md:mx-0 lg:mx-40">Jordan Fresse</h2>
            <h3 class="font text-red-500 dark:text-emerald-300 md:mx-60 mx-auto">Community Manager</h3>
        </div>
        <hr class=" h-px w-3/4 mx-auto border-0 bg-gray-500 dark:bg-black">
        <div class="flex flex-col items-center md:items-start md:justify-start justify-center mx-6 md:mx-52 lg:mx-60 pt-20 pb-40">
            <p class="font-bold text-white dark:text-black">Ensemble, mains dans la main, nous inspirons au monde la substance même de votre marque et de vos aspirations. Nous lui donnons vie dans la plus claire des représentations et lui apportons corps, âme et fonctions. Nos outils sont la communication, le design, le développement et le digital. Mais notre objectif, c’est de faire de VOS ambitions, un succès.</p>
        </div>

        <div class="bg-[url('../../../assets/img/general/wave2.svg')] bg-cover w-100 h-64"> </div>

    </section>

    <section class="bg-gray-100 dark:bg-gray-900 h-full w-full py-10">
        <div class="grid md:grid-cols-2 grid-cols-1 mx-auto md:mx-52 lg:mx-60 md:py-10">
            <h3 class="text-red-500 dark:text-emerald-400 font uppercase text-center md:text-start md:py-0 py-2">Nos services</h3>
            <div class="">
                <p class="font-bold dark:text-white text-black text-center md:text-start">Les experts que nous avons réunis représentent la totalité de la sphère de compétences dont un véritable projet marketing, de communication ou de développement a besoin.Nous avons ainsi associé 4 compétences  fondamentales à travers le marketing, la communication, le design et le développement.Chacun de ces pôles permet de proposer une gamme de  services de haut niveau entièrement personnalisée.</p>
                <p class="font-very-bold text-red-500 pt-3 col-start-2 text-center md:text-start">Nous avons également choisi de mettre en place un certain nombre de  services complémentaires tels que l’hébergement web, la sécurisation de vos données, la formation de vos équipes et l’aide au développement d’entreprise.</p>
                <div class="grid md:grid-cols-3 grid-cols-1 col-start-2 md:mx-0 mx-auto">
                    <div class="flex flex-col py-4 mx-auto md:mx-0 w-[190px] md:w-full">
                        <p class="font dark:text-white text-black text-opacity-40">Logo & image de <br>marque (branding)</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Design de site web</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Design d'application<br>mobile </p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Graphisme &<br>impression</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Site web vitrine</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Site web<br>eCommerce</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Développement <br>d'applications mobiles</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Développement<br>sur-mesure</p>
                    </div>
                    <div class="flex flex-col py-4 w-[190px] md:w-full md:mx-2 mx-auto">
                        <p class="font dark:text-white text-black text-opacity-40">Référencement naturel<br>gratuit (SEO)</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Référencement payant <br>(SEA)</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Email marketing </p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Campagne de publicité<br>(Web & traditionelle)</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Community management<br>(SMO)</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Street marketing</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Rédaction de contenu</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Stratégie digitale</p>
                    </div>
                    <div class="flex flex-col py-4 w-[190px] md:w-full md:mx-2 mx-auto">
                        <p class="font dark:text-white text-black text-opacity-40">Business Consulting</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Pop-up Store</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Gestion & Organisation<br>de salon </p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Gestion de projet</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Stratégie commerciale</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Hébergement Web &<br>Cloud</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Data analytics</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">CRM</p>
                        <p class="font dark:text-white text-black text-opacity-40 pt-2">Formation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center md:items-start mx-auto md:mx-52 lg:mx-60 md:w-96 md:py-20 py-10">
            <div>Here is empty animation</div>
            <p class="font-bold dark:text-white text-black text-xl md:mx-0 mx-8">“ Prestataire sérieux, compétent et disponible pour la création/hébergement du site internet de notre collectivité, les formations du personnel, et le suivi des mises à jour ”</p>
            <p class="font dark:text-white text-black text-opacity-40">Sylvie</p>
            <p class="font dark:text-white text-black text-opacity-40">Mairie Malbuisson</p>
        </div>
    </section>

</main>