<main>
    <div class="bg-gray-100 dark:bg-gray-900 h-full w-full py-10">
        
        <section class="bg-gray-100 dark:bg-gray-900 py-10 lg:mx-32 xl:mx-48 md:mx-24 sm:mx-16 relative">
            <h1 class="text-black dark:text-white md:text-start text-center xl:text-7xl lg:text-5xl md:text-4xl sm:text-3xl text-xl font-very-bold pt-6">Nous sommes <br> <span class="text-red-500 dark:text-emerald-300">une agence web</span><br> & creative dans <br> les Vosges qui connecte <br> <span class="text-red-500 dark:text-emerald-300">votre marque</span><br> à votre audience</h1>
            <hr class=" h-2.5 md:w-80 sm:w-52 mx-auto border-0 bg-red-500 dark:bg-emerald-800 absolute lg:top-[132px] lg:right-[0px] xl:top-[168px] xl:right-[0px] md:top-[120px] md:right-[0px] sm:top-[115px] sm:right-[0px]">
            <hr class=" h-2.5 md:w-80 sm:w-52 mx-auto border-0 bg-red-500 dark:bg-emerald-800 absolute lg:top-[280px] lg:right-[0px] xl:top-[390px] xl:right-[0px] md:top-[245px] md:right-[0px] sm:top-[222px] sm:right-[0px]">
        </section>

    </div>

    <section class="bg-gray-400">
        <div class="py-10 bg-[url('../../../assets/img/general/wave2.svg')] dark:bg-[url('../../../assets/img/general/wave-gray-2.svg')] bg-cover w-100 h-64">

        </div>
            <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 ">
                <div class="flex flex-col xl:mx-48 lg:mx-40 md:mx-20">
                    <h2 class="md:text-start text-center font-very-bold text-6xl py-8 md:py-10 text-black dark:text-white">Nos <br><span class="text-red-500 dark:text-emerald-300 text-6xl text-center uppercase">services</span></h2>
                    <button href="./services.html" class="border-2 w-64 rounded-3xl bg-pink-300 dark:bg-emerald-400 py-3 font text-white md:mx-0 sm:mx-52">Découvrez nos services<i class="fa-solid fa-arrow-right mx-1"></i></button>
                </div>

                <div class="flex flex-col justify-start items-start w-96 mx-10">
                    <hr class=" h-2.5 w-14 border-0 bg-red-500 dark:bg-emerald-800 ">
                    <div class="flex flex-row justify-start items-center w-96">
                        <h3 class="font-very-bold text-2xl py-2">Design</h3>
                        <svg class="mx-5 " width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                        </svg>
                    </div>
                    <p class="font text-sm leading-4 text-start pb-16"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit autem quae voluptas repellendus eveniet magnam eligendi debitis possimus nulla ipsa provident explicabo deleniti tempora quis odio, veniam cumque perferendis soluta?</p>
                    <hr class=" h-2.5 w-14 border-0 bg-red-500 dark:bg-emerald-800 ">
                    <div class="flex flex-row justify-start items-baseline w-96">
                        <h3 class="font-very-bold text-2xl py-2">Marketing &<br>Communication</h3>
                        <svg class="-mx-5" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                        </svg>
                    </div>
                    <p class="font text-sm leading-4 text-start pb-16"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit autem quae voluptas repellendus eveniet magnam eligendi debitis possimus nulla ipsa provident explicabo deleniti tempora quis odio, veniam cumque perferendis soluta?</p>
                    <hr class=" h-2.5 w-14 border-0 bg-red-500 dark:bg-emerald-800 ">
                    <div class="flex flex-row justify-start items-baseline w-96">
                        <h3 class="font-very-bold text-2xl py-2">Technologie</h3>
                        <svg class="mx-5" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                        </svg>
                    </div>
                    <p class="font text-sm leading-4 text-start pb-16"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit autem quae voluptas repellendus eveniet magnam eligendi debitis possimus nulla ipsa provident explicabo deleniti tempora quis odio, veniam cumque perferendis soluta?</p>
                </div>

                <div class="flex flex-col justify-start items-start w-96 mx-10 md:col-start-2 lg:col-start-3">
                    <hr class=" h-2.5 w-14 border-0 bg-red-500 dark:bg-emerald-800 ">
                    <div class="flex flex-row justify-start items-baseline w-96">
                        <h3 class="font-very-bold text-2xl py-2">Developpement</h3>
                        <svg class="mx-5" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                        </svg>
                    </div>
                    <p class="font text-sm leading-4 text-start pb-16"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit autem quae voluptas repellendus eveniet magnam eligendi debitis possimus nulla ipsa provident explicabo deleniti tempora quis odio, veniam cumque perferendis soluta?</p>
                    <hr class=" h-2.5 w-14 border-0 bg-red-500 dark:bg-emerald-800 ">
                    <div class="flex flex-row justify-start items-baseline w-96">
                        <h3 class="font-very-bold text-2xl pt-2 pb-7">Conseil</h3>
                        <svg class="mx-5" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                        </svg>
                    </div>
                    <p class="font text-sm leading-4 text-start pb-[55px] pt-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit autem quae voluptas repellendus eveniet magnam eligendi debitis possimus nulla ipsa provident explicabo deleniti tempora quis odio, veniam cumque perferendis soluta?</p>
                    <hr class=" h-2.5 w-14 border-0 bg-red-500 dark:bg-emerald-800 ">
                    <div class="flex flex-row justify-start items-baseline w-96">
                        <h3 class="font-very-bold text-2xl py-2">Formation</h3>
                        <svg class="mx-5" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                        </svg>
                    </div>
                    <p class="font text-sm leading-4 text-start py-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit autem quae voluptas repellendus eveniet magnam eligendi debitis possimus nulla ipsa provident explicabo deleniti tempora quis odio, veniam cumque perferendis soluta?</p>
                </div>
            </div>
            <div class="py-10 bg-[url('../../../assets/img/general/wave1.svg')] dark:bg-[url('../../../assets/img/general/wave-gray1.svg')] bg-cover w-100 h-64">

            </div>
    </section>

    <section class="bg-gray-100 dark:bg-gray-800 ">
        <div class="flex flex-col max-w-lg lg:mx-44 xl:mx-48 md:mx-44 py-10">
            <h2 class="text-black dark:text-white text-start font-bold text-4xl uppercase pb-8">Nos dernières<br> <span class="text-center text-red-500 dark:text-emerald-300 font-very-bold text-5xl">stories</span></h2>
            <button class="md:w-56 w-full bg-pink-200 dark:bg-emerald-800 rounded-3xl font-bold text-white py-4 ">Découvrez nos stories<i class="fa-solid fa-arrow-right mx-2"></i></button>
        </div>
        <div class="grid grid-cols-3 max-w-8xl gap-5 mx-44">
            <div class=" bg-gray-300  dark:bg-gray-500 border rounded-xl">
                <figure>
                    <a href="./stories-detail.html">
                        <img class="rounded-t-lg" src="https://via.placeholder.com/600x400" alt="" />
                    </a>
                </figure>
                <div class="flex flex-row justify-between">
                    <h6 class="font text-sm lg:text-md text-red-500 mx-4">23 janvier,2023</h6>
                    <h6 class="font text-sm lg:text-md text-red-500 lg:mx-4">IDNET News</h6>
                </div>
                <div class="lg:p-5 p-10">
                    <a href="#">
                        <h5 class="mb-2 lg:text-xl text-sm font-bold  text-gray-900 dark:text-gray-500">En avance sur le temps : les 5 principales compétences dont chaque Community manager aura besoin en 2023.</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Découvrez les 5 compétences clés pour être un community manager performant en 2023.</p>
                    <div class="flex flex-row justify-end">
                        <svg class="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                        </svg>
                    </div>
                  </div>
            </div>
                <div class=" bg-gray-300  dark:bg-gray-500 border rounded-xl ">
                    <figure>
                        <a href="./stories-detail.html">
                            <img class="rounded-t-lg" src="https://via.placeholder.com/600x400" alt="" />
                        </a>
                    </figure>
                    <div class="flex flex-row justify-between">
                        <h6 class="font text-sm lg:text-md text-red-500 mx-4">23 janvier,2023</h6>
                        <h6 class="font text-sm lg:text-md text-red-500 lg:mx-4">IDNET News</h6>
                    </div>
                    <div class="lg:p-5 p-10">
                        <a href="#">
                            <h5 class="mb-2 lg:text-xl text-sm font-bold  text-gray-900 dark:text-gray-500">En avance sur le temps : les 5 principales compétences dont chaque Community manager aura besoin en 2023.</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Découvrez les 5 compétences clés pour être un community manager performant en 2023.</p>
                        <div class="flex flex-row justify-end">
                            <svg class="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                            </svg>
                        </div>
                    </div>
                </div>
                    <div class=" bg-gray-300  dark:bg-gray-500 border rounded-xl">
                        <figure>
                            <a href="./stories-detail.html">
                                <img class="rounded-t-lg" src="https://via.placeholder.com/600x400" alt="" />
                            </a>
                        </figure>
                        <div class="flex flex-row justify-between">
                            <h6 class="font text-sm lg:text-md text-red-500 mx-4">23 janvier,2023</h6>
                            <h6 class="font text-sm lg:text-md text-red-500 lg:mx-4">IDNET News</h6>
                        </div>
                        <div class="lg:p-5 p-10">
                            <a href="#">
                                <h5 class="mb-2 lg:text-xl text-sm font-bold  text-gray-900 dark:text-gray-500">En avance sur le temps : les 5 principales compétences dont chaque Community manager aura besoin en 2023.</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Découvrez les 5 compétences clés pour être un community manager performant en 2023.</p>
                            <div class="flex flex-row justify-end">
                                <svg class="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.19857 10.255L9.27498 5.59211L4.61137 4.2114C4.28949 4.1161 4.10286 3.76701 4.19503 3.43266L4.75646 1.39616C4.84863 1.06181 5.18505 0.86758 5.50693 0.962876L15.3632 3.87889C15.6851 3.97419 15.8717 4.32327 15.7795 4.65762L12.9567 14.8971C12.8645 15.2315 12.5281 15.4257 12.2062 15.3304L10.2457 14.75C9.92382 14.6547 9.73718 14.3056 9.82936 13.9712L11.2633 8.76979L2.96574 13.5604C2.67167 13.7302 2.30224 13.6208 2.13909 13.3156L0.960545 11.1113C0.798706 10.8086 0.904497 10.4248 1.19857 10.255Z" fill="#1D1D1D"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="bg-[url('../../../assets/img/general/wave3.svg')] bg-cover w-100 h-64"></div>

        <div class="flex flex-col sm:flex-row justify-between py-20 w-full bg-gray-500">
            <h2 class="text-black dark:text-white text-start font-bold text-4xl uppercase lg:mx-40 xl:mx-44">Nos travaux <br><span class="text-center text-red-500 dark:text-emerald-300 font-very-bold text-5xl">récents</span></h2>
            <div class="lg:w-1/3 md:w-3/4 xl:mx-0 lg:mx-28 ">
                <p class="py-6 text-black dark:text-white text-opacity-60 text-start font w-3/4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia alias sapiente, reiciendis illum quam perspiciatis cumque eum dolorum porro expedita, dnlzndzndozdozbdoz kcnemnfcnoznd kfnvldnlslsn sklndlzndlz</p>
                <button class="md:w-64 w-full  bg-pink-200 dark:bg-emerald-800 rounded-xl font-bold text-white py-4 ">Découvrez nos projets<i class="fa-solid fa-arrow-right mx-2"></i></button>
            </div>
        </div>
    </section>
    <div
        id="carousel"
        class="relative"
        data-te-carousel-init
        data-te-carousel-slide>
        <div class="relative w-full overflow-hidden h-96 after:clear-both after:block after:content-['']">
            <div class="relative float-left -mr-[100%] w-full h-96 transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item
                data-te-carousel-active>
                <img src="../../../assets/img/accueil/Stenger_Pro_Mockup.jpg" class="block w-full sm:w-1/2 h-96 object-cover object-center" alt="" />
                <h3 class="font-bold absolute z-20 text-white top-80 mx-4 uppercase">Stenger Pro</h3>
                <h3 class="font-light absolute z-20 text-white top-80 mx-4 py-5"><i class="fa-solid fa-circle text-xs"></i> design-developpement-conseil</h3>
            </div>
            <div class="hidden sm:block relative float-left w-full h-96 transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item>
                <img src="../../../assets/img/accueil/ppt_taxitop.jpg" class="block w-full sm:w-1/2 h-96 float-right object-cover object-center" alt="" />
                <h3 class="font-bold absolute z-20 top-80 left-1/2 mx-4 uppercase">Taxitop</h3>
                <h3 class="font-light absolute z-20 top-80 left-1/2 mx-4  py-5"><i class="fa-solid fa-circle text-xs"></i> design-developpement-conseil</h3>
            </div>
            <div class="relative float-left -mr-[100%] hidden w-full h-96 transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item>
                <img src="../../../assets/img/accueil/mobile_Dark.jpg" class="block w-full sm:w-1/2 h-96 float-right object-cover object-center " alt="" />
            </div>
        </div>
        <button class="absolute top-0 bottom-0 left-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button"
            data-te-target="#carousel"
            data-te-slide="prev">
            <span class="inline-block h-8 w-8">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
            </span>
            <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Précédent</span>
        </button>
        <button class="absolute top-0 bottom-0 right-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button"
            data-te-target="#carousel"
            data-te-slide="next">
            <span class="inline-block h-8 w-8">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </span>
            <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Suivant</span>
        </button>
    </div>
    <div class="bg-gray-300 dark:bg-gray-700 py-10 ">
        <div class="flex flex-col justify-around">
            <div class="flex flex-col items-center">
                <h2 class=" py-4 font-very-bold text-black dark:text-white text-center md:text-start text-4xl uppercase">ils nous font confiance</h2>
            </div>
            <div class="flex flex-col md:flex-row items-center justify-center content-center">
                <img src="../../../assets/img/accueil/client_02-light.png" class="lg:w-80 md:w-52" alt="">
                <img src="../../../assets/img/accueil/client_03-light.png" class="lg:w-80 md:w-52" alt="">
                <img src="../../../assets/img/accueil/client_04-light.png" class="lg:w-80 md:w-52" alt="">
                <img src="../../../assets/img/accueil/client_05-light.png" class="lg:w-80 md:w-52" alt="">
            </div>
            <div class="flex flex-col md:flex-row items-center justify-center content-center">
                <img src="../../../assets/img/accueil/client_06-light.png" class="lg:w-80 md:w-52" alt="">
                <img src="../../../assets/img/accueil/client_07-light.png" class="lg:w-80 md:w-52" alt="">
                <img src="../../../assets/img/accueil/client_08-light.png" class="lg:w-80 md:w-52" alt="">
                <img src="../../../assets/img/accueil/client_09-light.png" class="lg:w-80 md:w-52" alt="">
            </div>
        </div>
    </div>
</main>