<div class="lg:p-12 max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">

    <form class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md" #passwordLostForm="ngForm" (ngSubmit)="!loading && passwordLostForm.valid && submit(passwordLostForm.value)">
  
      <h1 class="lg:text-2xl text-xl font-semibold mb-6">Password Lost</h1>
  
      <div>
        <p class="text-sm mb-8">
          We just sent the OTP code to your email, please check it and enter below.
        <p>
      </div>
  
      <div class="wizard-animated-block">
  
        <div class="space-y-3 wizard-animated-content" [class.second-step]="success">
  
          <div>
            <label class="mb-0" for="mail">Email Address</label>
            <input class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full" type="email" id="mail" placeholder="{{ 'COMMON.PLACEHOLDERS.ENTEREMAIL'| translate }}" name="mail" #mail="ngModel" [pattern]="mailPattern" maxlength="242" autocomplete="username" required ngModel>
            <div class="invalid-tooltip mt-1" *ngIf="passwordLostForm.submitted && !mail.valid && mail.errors['required']">{{ 'COMMON.ERRORS.REQUIRED' | translate }}</div>
            <div class="invalid-tooltip mt-1" *ngIf="passwordLostForm.submitted && !mail.valid && mail.errors['pattern']">{{ 'COMMON.ERRORS.PATTERN' | translate }}</div>
            <div class="invalid-tooltip mt-1" *ngIf="passwordLostForm.submitted && !mail.valid && mail.errors['maxlength']">{{ 'COMMON.ERRORS.PATTERN' | translate }}</div>
          </div>
  
          <div>
            <button class="bg-purple-500 text-white font-bold p-3 mt-3 rounded-md text-center w-full" type="submit" [class.disabled]="passwordLostForm.submitted && !passwordLostForm.valid" [class.loading]="loading">{{ 'COMMON.SIGNIN'| translate }}</button>
          </div>
  
        </div>
  
        <div class="space-y-3 wizard-animated-content" *ngIf="success">
  
          <div class="bg-success-msg border p-4 relative rounded-md mt-0" uk-alert>
            <i class="bi bi-check-lg text-white text-opacity-75"></i>
            <p class="text-white text-opacity-75">Success</p>
          </div>
  
        </div>
  
      </div>
  
    </form>
  
  </div>