<nav class="w-4/5 mx-auto lg:h-[380px] xl:h-[680px] md:h-[280px] p-6 bg-gray-300 dark:bg-neutral-700 rounded-md">
    <div class="flex sm:justify-start ">
        <div class="flex sm:justify-start justify-between w-full">
            <a href="#" class=" p-1.5">
            <span class="sr-only">IDNET</span>
            <img src="./assets/img/Accueil/IDNET.svg" class="w-5 h-5 mx-2" alt="">
            </a>
            <div class="flex justify-end sm:justify-start">
                <button type="button" id="mainButton" class=" rounded-md w-100 flex pt-1 sm:mx-2  text-black dark:text-white" (click)="selectList()">
                    <span class="sr-only"></span>
                    <svg class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="sm:flex hidden justify-end w-full items-center">
            <a class="font-bold text-black dark:text-white z-50" href="contact.html">Prendre RDV</a>
            <div class="absolute mx-16 top-[62px] ">
                <i class="fa-solid fa-circle z-0" style="color:#D60B52; opacity: 40%; font-size: 34px;"></i>
            </div>
        </div>
    </div>
    <div id="open">
        <div class="md:py-5 lg:py-7 sm:py-0 py-3 grid grid-cols-3 md:h-auto">
            <div class="flex flex-row lg:pt-12 md:mx-2 col-auto col-start-1 h-auto sm:pt-2">
                <p class="font uppercase mx-2 text-xl text-black dark:text-white active:underline">fr</p>
                <p class="font uppercase text-xl text-black dark:text-white active:underline">en</p>
            </div>
            <div class="flex flex-row md:pt-4 md:mx-2 col-auto col-start-1 h-auto">
                <img src="./assets/img/Navmenu/night-light.png" class="w-6 h-6 mx-2 active:underline" alt="">
                <img src="./assets/img/Navmenu/brightness.png" class="w-6 h-6 active:underline" alt="">
            </div>
            <div class="flex col col-auto col-start-2 h-auto">
                <ul class="py-2 xl:text-8xl lg:text-6xl md:text-4xl sm:text-4xl text-md font-very-bold uppercase absolute xl:left-96 xl:top-36 lg:left-64 lg:top-[150px] md:top-[110px] md:left-52 sm:top-[96px] sm:left-48 top-[165px] right-16">
                    <li>
                        <a href="services.html" class="text-black dark:text-white mx-auto"><i class="fa-solid fa-arrow-right text-red-500 dark:text-emerald-500 "></i>services<i class="fa-solid fa-arrow-right hover:dark:text-emerald-500 hover:text-red-500"></i></a>
                    </li>
                    <li>
                        <a href="projects.html" class="text-black dark:text-white"><i class="fa-solid fa-arrow-right text-red-500 dark:text-emerald-500"></i>projets<i class="fa-solid fa-arrow-right hover:dark:text-emerald-500 hover:text-red-500"></i></a>
                    </li>
                    <li>
                        <a href="teams.html" class="text-black dark:text-white"><i class="fa-solid fa-arrow-right text-red-500 dark:text-emerald-500"></i>agence<i class="fa-solid fa-arrow-right hover:dark:text-emerald-500 hover:text-red-500"></i></a>
                    </li>
                    <li>
                        <a href="stories.html" class="text-black dark:text-white"><i class="fa-solid fa-arrow-right text-red-500 dark:text-emerald-500"></i>stories<i class="fa-solid fa-arrow-right hover:dark:text-emerald-500 hover:text-red-500"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col lg:pt-8 xl:pt-80 mx-2 md:pb-2 sm:py-2">
            <a href="facebook" class="font-bold text-black dark:text-white text-opacity-60">Facebook</a>
            <a href="linkedin" class="font-bold text-black dark:text-white text-opacity-60">Linkedin</a>
            <a href="instagram" class="font-bold text-black dark:text-white text-opacity-60">Instagram</a>
            <a href="twitter" class="font-bold text-black dark:text-white text-opacity-60">Twitter</a>
        </div>
    </div>
</nav>